@import url('demo.css');
@import url('font-awesome.css');

/* GLOBALS */

*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/*ФОН ФОРМЫ АВТОРИЗАЦИИ*/
.form-2 {
    /* Size and position */
    width: 340px;
    padding: 15px;
    position: relative;

    /* Styles */
  background: #fffaf6;
    border-radius: 4px;
    color: #7e7975;
    box-shadow:
        0 2px 2px rgba(0,0,0,0.2),        
        0 1px 5px rgba(0,0,0,0.2),        
        0 0 0 12px rgba(255,255,255,0.4); 
}
/*ЧЕЛОВЕК И ЗАМОК*/
.form-2 .field {
    position: relative; /* For the icon positioning */
}

.form-2 .field i {
    /* Size and position */
    left: 0px;
    top: 27px;
    position: absolute;
    height: 36px;
    width: 36px;

    /* Line */
    border-right: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 0 0 rgba(255, 255, 255, 0.7);

    /* Styles */
    color: #777777;
    text-align: center;
    line-height: 42px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    pointer-events: none;
}
/*ФОРМА ЛОГИНА ПАРОЛЯ*/
.form-2 input[type=text],
.form-2 input[type=password] {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    font-size: 15px;
    font-weight: 400;
    /*text-indent: 10px;*/
    color: #ee4c8d;
    text-shadow: 0 1px 0 rgba(255,255,255,0.8);

    /* Size and position */
    width: 100%;
    padding: 10px 18px 10px 45px;
    margin-bottom: 10px;

    /* Styles */
    border: 3px solid #ebe6e2;
    border-radius: 5px;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  
}
/*ТЕКСТ ЛОГИНА И ПАРОЛЯ*/
.form-2 label {
    /* Size and position */
    width: 50%;
    float: left;
    padding-top: 9px;

    /* Styles */
    color: #ddd;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-shadow: 0 1px 0 #000;
    text-indent: 10px;
    font-weight: 700;
    cursor: pointer;
}


/*ПОДСВЕЧИВАНИЕ ЗНАЧКОВ СИНИМ*/
.form-2 input[type=text]:hover ~ i,
.form-2 input[type=password]:hover ~ i {
    color: #52cfeb;
}

.form-2 input[type=text]:focus ~ i,
.form-2 input[type=password]:focus ~ i {
    color: #42A2BC;
}
/*НАДПИСЬ В ПРЯМОУГОЛЬНИКЕ ЛОГИН ПАРОЛЬ*/
.form-2 input::-webkit-input-placeholder {
    color: #8d1645;
    /*text-shadow: 0 -1px 1px rgba(0,0,0,0.4);*/
    font-family: 'Handlee', cursive;
}

.form-2 input:-moz-placeholder {
    color: red;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
    font-family: 'Handlee', cursive;
}

.form-2 input:-ms-input-placeholder {
    color: red;
    text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
    font-family: 'Handlee', cursive;
}
/*ПОКАЗАТЬ ПАРОЛЬ*/
.form-2 label[for=showPassword] {
    display: inline-block;
    margin-bottom: 10px;
    font-size: 13px;
    font-weight: 400;
    color:blue;
    float: right;
    margin: -1px -19px 10px -20px;
    text-transform: capitalize;
}

.form-2 input[type=checkbox] {
    vertical-align: middle;
    float: right;
  margin: 12px 5px 0 1px;
}

/*ПОДСВЕЧИВАНИЕ РАМКИ ПРИ НАВЕДЕНИИ И ВВОДЕ ЛОГИНА ПАРОЛЯ В ФОРМУ*/
.form-2 input[type=text]:hover,
.form-2 input[type=password]:hover {
    border-color: #CCC;
}

.form-2 label:hover ~ input {
    border-color: #CCC;
}

.form-2 input[type=text]:focus,
.form-2 input[type=password]:focus {
    border-color: #BBB;
    outline: none; /* Remove Chrome's outline */
}

/*КНОПКА*/
.form-2 button {
     /* Size and position */
    width: 100%;
     height: 42px;
    padding: 8px 5px;
     position: relative;
    overflow: hidden;
    
    /* Styles */
    background: #634056;
    background: -moz-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -ms-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -o-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(99,64,86,0.5)), to(rgba(76,49,65,0.7)));
    background: -webkit-linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));
    background: linear-gradient(rgba(99,64,86,0.5), rgba(76,49,65,0.7));    
    border-radius: 5px;
    border: 1px solid #4e3043;
    box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    /* Font styles */
    color: white;
    text-shadow: 0 1px 0 rgba(0,0,0,0.3);
    font-size: 16px;
    font-weight: bold;
    font-family: 'Raleway', 'Lato', Arial, sans-serif;
    
   
}

.form-2 button i {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: -20px;
    font-size: 50px;
    line-height: 40px;
    color: #8d1645;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.form-2 button span {
    display: block;

    /* Font styles */ 
    color: #8d1645;
    font-family: 'Montserrat', Arial, sans-serif; 
    font-size: 20px;
    text-shadow: 0 1px 0 rgba(255,255,255,0.4);

}

/* Focus and hover on button */

.form-2 button:focus {
    outline: none;
}

.form-2 button:hover span,
.form-2 button:focus span {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    -webkit-transform: rotate(-90deg) translateY(-20px);
    -moz-transform: rotate(-90deg) translateY(-20px);
    -ms-transform: rotate(-90deg) translateY(-20px);
    -o-transform: rotate(-90deg) translateY(-20px);
    transform: rotate(-90deg) translateY(-20px);
}

.form-2 button:hover i,
.form-2 button:focus i {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    left: 0;
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

/* Click */

.form-2 button:active span,
.form-2 button:active i {
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none; 
}

.form-2 button:active span {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}

.form-2 button:active i {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    filter: alpha(opacity=50);
    opacity: 0.5;
    left: 0;
    color: #fff;
}

.regist{
    margin-top:5%;
     color: blue;
    font-family: 'Montserrat', Arial, sans-serif; 
    font-size: 1.5em;
    text-align: center;
}
.regist>a{
     color: blue;
}

.name{
    font-size: 2.4em;
    color:#8d1645;  
    font-family: 'Lobster', cursive;
    margin-left: 5%;
}

.backet{
    margin-top:10%;
    font-size: 1.1em;
    
}

.backet>i{
  color:#8d1645;
  font-size: 30px;
}